<!DOCTYPE html>
<html>
<head>
    <title>Track Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="checkout-container">
    <h1>Track Order</h1>

    <form action="/track_order" method="POST" class="checkout-form">
        <input name="phone" placeholder="Enter Phone Number" required>
        <button type="submit">Track</button>
    </form>

    {% if orders %}
        <h2>Your Orders</h2>

        {% for order in orders %}
        <div class="dashboard-card">
            <p><b>Order ID:</b> {{ order.id }}</p>
            <p><b>Status:</b> {{ order.status }}</p>
            <p><b>Total:</b> ₹{{ order.total }}</p>
        </div>
        {% endfor %}
    {% endif %}
</div>

</body>
</html>
